@font-face {
    font-family: 'Moolbor';
    src: url('/fonts/moolbor.ttf');
}

:root {
    --border-color: rgb(231, 133, 25);
    --background-color: #001f4b;
    --band-color: rgb(19, 57, 134);
    --text-color: white;
    --scroll-top-radius: 0.25em;
    background: linear-gradient(rgb(41, 7, 40), rgb(37, 81, 106));
}

img.svg {
    filter: invert(100%);
}

body {
    margin: 0.416vw;
    margin-top: 0;

    font-family: "Roboto", sans-serif;
    font-weight: 400%;
    font-style: normal;
    line-height: 1.2;

    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    color: var(--text-color);
}

div.topbar {
    color: var(--text-color);

    margin: 0;
    margin-left: -0.5em;
    margin-top: 1em;
    z-index: 2711;

    width: 100%;
    height: 20em;
    transition: height 0.6s;

    background: var(--band-color);
    position: fixed;
    display: flex;

    overflow: hidden;

    border: 10px ridge;
    border-color: var(--border-color);
    border-left: none;
    border-right: none;
}

div.topbar.scrolled {
    height: 5em;
}

div.topbar>.name {
    align-self: center;
    border-left: dotted;
    padding-left: 1em;
    margin-left: 2vw;
}

div.topbar.scrolled>.name {
    display: flex;
    align-items: center;
}

div.topbar>h1+h3 {
    margin-top: -1.04vw;
}

div.name>h1 {
    font-size: 3em;
    transition: font-size 0.6s;
}

.scrolled>div.name>h1 {
    font-size: 2em;
}

div.name>h3 {
    font-size: 1.5em;
    transition: all 0.6s;
}

div.topbar.scrolled>div.name>h3::before {
    content: "— ";
    padding-left: 1em;
}

div.topbar>img {
    height: calc(100% - 2em);
    align-self: center;
    margin: 1em;
    margin-left: 2em;
    object-fit: cover;

    border: outset 5px;
    border-color: var(--border-color);
    
    transition: all 0.6s;
}

div.topbar.scrolled>img {
    height: 100%;
    margin: 0;
    margin-left: 2em;
}

div.contact-list {
    align-content: center;
    position: absolute;
    left: 70%;
    height: 100%;
    opacity: 100%;

    transition: opacity 0.6s;
}

.scrolled>div.contact-list {
    opacity: 0%;
}

div.contact {
    display: flex;
    align-items: center;
}

div.contact>a {
    padding-left: 0.3em;
    color: var(--text-color);
    font-size: 1.3em;
}

div.content {
    transform: translateY(20em);
    margin: 0;
    padding: -1em;
    width: 100%;

    scroll-behavior: smooth;
    transition: transform 0.6s;
}

div.content.scrolled {
    transform: translateY(12em);
}

div.cards {
    display: flex;
    flex-wrap: wrap;
}

div.card {
    margin: 1em;
    border-radius: 1em;
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
    align-items: center;
    align-content: center;
    width: calc(50% - 2em);
    height: 17.5em;
    
    background-size: 100%;
    background-position-y: var(--bg-offset);

    transition: all 0.1s;

    cursor: pointer;
}

div.card:hover {
    margin: 0.7em;

    width: calc(50% - 1.4em);
    height: 18.1em;
}

div.card.selected {
    width: calc(100% - 1.4em);
}

div.blur {
    backdrop-filter: blur(2px);
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.card>h2 {
    color: white;
    font-family: 'Moolbor', 'Georgia', serif;
    word-spacing: 0.15em;
    font-size: 6em;
    transform: scale(0.7, 1) translateX(-20%);
    text-shadow: 0 0 0.52vw white, 0 0 1.04vw white, 0 0 30px #e60073;

    padding-top: 0.5em;
    width: 140%;
    user-select: none;
}

div.card>h2+img {
    margin-left: 2em;
}

div.card>video {
    position: absolute;
    width: 105%;
    top: 0;
    left: 0;
    
    opacity: 0%;
    transition: opacity 0.2s;
}

div.card:hover>video {
    opacity: 100%;
}



::-webkit-scrollbar {
    width: 0.52vw;
}

::-webkit-scrollbar-track {
    background: var(--border-color);
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 0.25em;
    border-top-left-radius: var(--scroll-top-radius);
    border-top-right-radius: var(--scroll-top-radius);
}

::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
}



.splide__slide>img {
    height: 24em;
    border: solid 10px;
    border-left: solid 5px;
    border-right: solid 5px;
    border-color: var(--border-color);
    margin: 0 0em 0 0em;
}

.splide__track::after {
    border-left: double 0.5em;
    border-right: double 0.5em;
    border-color: var(--border-color);
    
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.splide__arrow {
    background-color: var(--border-color);
    border-radius: 100%;
    border: 0.4em solid;
    border-color: var(--border-color);
}

.splide__arrow--next {
    right: 0.2em;
}

.splide__arrow--prev {
    left: 0.2em;
}



@media only screen and (max-width: 1200px) {
    div.card {
        width: calc(100% - 2em);
    }

    div.card:hover {
        margin: 0.7em;
        width: calc(100% - 1.4em);
    }

    div.topbar>.name {
        max-width: 30%;
    }

    div.topbar.scrolled>.name {
        max-width: none;
    }
}
